---
import { Icon } from 'astro-icon/components'
const { title, fullDate, day, time, address } = Astro.props
---

<div class='uentry-wrapper flex flex-row pb-4'>
  <div class='bg-violet-600 w-4'></div>
  <div
    class='flex flex-col grow py-2 px-4 min-w-[200px] max-w-[510px] bg-slate-300 rounded-tr-md rounded-br-md'
  >
    <div class='text-lg text-violet-700 font-oswald font-medium text-center'>
      IN SUPPORT OF
    </div>
    <div
      class='text-4xl text-violet-600 font-oswald font-bold pb-1 text-center'
    >
      {title}
    </div>
    <div class='flex flex-row text-violet-600 py-1'>
      <div class='flex justify-center w-fit h-fit'>
        <Icon class='text-3xl' name='calender' />
      </div>
      <div class='pl-2 font-mohave font-medium text-xl w-fit h-fit'>
        {day} - {fullDate} @ {time}
      </div>
    </div>
    <div class='flex flex-row text-violet-800'>
      <div class='flex justify-center w-fit h-fit'>
        <Icon class='text-3xl' name='location' />
      </div>
      <div class='pl-2 font-mohave font-medium text-xl w-fit h-fit'>
        {address}
      </div>
    </div>
  </div>
</div>
<!-- 
<style>
  [data-icon='calender'] {
    font-size: 1rem;
    color: purple;
  }
</style> -->
